.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-image: url("../../imgs/header-background.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 110px;
  padding-left: 130px;
  /*
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.headerLabel {
  /* float: right; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 190px;
  width: 1550px;
  border-top-left-radius: 95px;
  border-bottom-left-radius: 95px;
  background-color: rgba(102, 45, 145, 0.9);
  padding: 40px 240px 40px 40px;
  color: #ffffff;
  font-family: "CirceRounded";
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.missionWrapper {
  /* position: relative;
  float: right; */
  margin-top: 200px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 900px;
  border-top-left-radius: 95px;
  border-bottom-left-radius: 95px;
  padding: 50px 240px 50px 120px;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  color: #58595b;
}

.missionHeading {
  color: rgba(102, 45, 145);
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  line-height: 164.9%;
}
